body {
    font-family: Arial, sans-serif;
    background-image: url('./img/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
h1 {
    color: hsl(0, 93%, 61%);
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    transition: border 0.3s ease;
}
input[type="text"]:focus {
    border: 1px solid #4CAF50;
}