body {
    font-family: Arial, sans-serif;
    background-image: url('./img/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
h1 {
    color: hsl(0, 93%, 61%);
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    transition: border 0.3s ease;
}
input[type="text"]:focus {
    border: 1px solid #4CAF50;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.heading1 {
    margin-top: 20px;
}
.container {
    text-align: center;
    background: rgba(255, 255, 230, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    height: auto;
    margin-top: 5%;
}


